<div>
    <h3>Histoire</h3>
</div>

<div>

    <p> Dans le royaume de Boom, plusieurs héros mettent au défi leurs compétences et s’affrontent pour tenter de prendre la place du trône.
On raconte que seul le plus brave des héros se verra prendre la place du roi Alexus !

Chaque personnage a un caractère bien différent, qui leur permettront de devenir le nouveau roi !




Choisi le bon personnage et aide le a devenir le roi du royaume de Boom !

Boom est un jeu mélangeant stratégie, amusement, adrénaline et suspense !
Joue jusqu’à développer tes propres stratégies de combats !
Vaincs ton adversaire en lui enlevant toutes ses vies mais de la manière la plus intelligente possible !
Car oui, après chaque partie les deux joueurs verront leurs propres statistiques !
Attention à la triche, les chiffres ne mentent jamais !
Tu as 3 chances pour éliminer définitivement ton adversaire !
Attention à ne pas te faire prendre dans ta propre explosion !
Choisis le bon chemin pour récupérer le plus de bonus possible !
Cela te permettra de prendre une avance considérable sur ton adversaire !
        </p>

        <p>Boom est un jeu de stratégie dans lequel il faut exploser ses adversaires ! Pour se faire, le joueur dispose d'un arsenal de bombes, de bonus et d'atouts qu'il devra utiliser intelligemment et au bon moment. Le joueur évolue dans un labyrinthe constitué de blocs de pierre : certains blocs sont cassables, d'autres non. Les bombes permettent donc de casser les blocs cassables, mais n'ont aucun effet sur les blocs de pierre incassables.</p>

</div>


<div>


    <h3>Persos</h3>

    <p>Plusieurs personnages sont disponibles. Ils ont les mêmes compétences, seul leur aspect visuel change.</p>

    <table>
  <tr>
    <th id="txt">Bomberman</th>
    <th id="txt">Ghosty</th>
    <th id="txt">Pikachu</th>
    <th id="txt">Cameltoe</th>
    <th id="txt">Gorillaz</th>
    <th id="txt">Giuseppe</th>
  </tr>
  <tr>
    <td> <img src="ressources/images/sprites/sprite_perso2.png" id="sprite_perso2"></td>
    <td> <img src="ressources/images/sprites/hero.png" id="hero"></td>
    <td> <img src="ressources/images/sprites/Picatchu.png" id="Picatchu"></td>
    <td> <img src="ressources/images/sprites/bomberman.png" id="bomberman"></td>
    <td> <img src="ressources/images/sprites/autre.png" id="autre"></td>
    <td> <img src="ressources/images/sprites/Mario.png" id="Mario"></td>
  </tr>

</table>

 <h3>Bonus</h3>

<p>Plusieurs bonus sont disponibles. Ils permettent d'améliorer les capacités du joueur.</p>

<p>Un bonus de vitesse qui permet d'augmenter la vitesse du joueur.</p>
<p>Un bonus de dégât qui permet d'augmenter le rayon d'explosion de la bombe posée par le joueur.</p>

</div>
